body{
background-color:black;
}

h1 {
    color:red;
}

h2{
color: #67BF78;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #ff4b35;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0.6em;
    padding-bottom: .2em;
    border-bottom: 1px solid #67BF78;
}

.floating-radio-form-group {
    position: relative;
    margin-bottom: 0.6em;
    padding-bottom: .2em;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.btn-primary {
    color: black;
    background-color: #67BF78;
    border-color: green;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
    color: white;
    background-color: gray;
    border-color: gray;
}


label {
    color:#67BF78;
}

.form-control{
	color:white;
}

.form-control:focus {
    border-color: #67BF78;
    color:white;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #ff4b35;
}

form .row:first-child .floating-label-form-group {
    
}

hr.music-light,
hr.music-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.music-light:after,
hr.music-primary:after {
    content: '\f001';
    display: inline-block;
    position: relative;
    top: -1em;
    padding: 0.4em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.music-light {
    border-color: #fff;
}

hr.music-light:after {
    color: black;
    background-color: #67BF78;
}

hr.music-primary {
    border-color: #67BF78;
}

hr.music-primary:after {
    color: #67BF78;
    background-color: black;
}
