/*
 * Base structure
 */
body {
	background: url(../images/backgrounds/congruent_outline.png) repeat;
	margin:0;
	padding:0;
}

/*****start features styles****/
* {
	margin: 0; 
	padding: 0;
}

/*Time to apply widths for features to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.features {
	width: 100%;
	overflow: hidden;
	
	/*Time for some styling*/
	margin:auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.features ul {
	width: 100%;
	position: relative;
	height: inherit;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.features li {
	position: relative;
	display: block;
	width: 18%;
	float: left;
	right: 5%;
	overflow:hidden;
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic features*/
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
}

#lPanel {
	width: 22%;
}

#rPanel {
	width: 23%;
}

/*Reduce width of un-hovered elements*/
.features ul:hover li {width: 18%;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.features ul li:hover {width: 28%;}

.features ul:hover #lPanel {width: 18%;}
.features ul #lPanel:hover {width: 28%;}
.features ul:hover #rPanel {width: 17%;}
.features ul #rPanel:hover {width: 27%;}

.features li img {
	display: block;
	position: relative;
	right: 33%;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

/*Image title styles*/
.image_title {
	background: #6F9;
	/*background: rgba(0, 0, 0, 0.5);*/
	position: absolute;
	bottom: 10px;
	width: 120%;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);	

}

#lPanel, #lPanel .image_title, #lPanel img{
	-webkit-transform: skew(0deg);
	-moz-transform: skew(0deg);
	-o-transform: skew(0deg);
	right: 0;
}

#lPanel img {
	right: 0;
}

.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 3% 5% 3% 5%;
	text-align:center;
	position: relative;
	font-size: 16px;
}

/******end features styles****/

#features {
	padding: 0;
	margin:0;
	background:#CCC;
}

.main-content {
	background:#FFF;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

#topAlbums, #topArtist {
	float: left;
}

.albumImg img, .albumItem a, .artistItem a{
	width: 100%;
}

.albumImg img {
	height: 100%;
}

.artistImg img {
	height: auto;
}

.albumImg, .artistImg {
	overflow: hidden;
}

#topLyrics {
	clear:both;
}

#searchForm {
	margin-left: 0;
	margin-right: 0;
	min-width: 200px;
	padding: 0 1% 0 1%;
}

#searchForm form, #search {
	width: 100%;
}

#hidden {
	position:absolute;width:0;margin:0;padding:0;height:0;
	float:right;
	border:none;
}

#searchForm #button {
	position: absolute;
	width: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.footer-content {
	max-width:1200px;
	positon: relative;
	margin-left:auto;
	margin-right:auto;
	padding: 10px;
}

#footerbrand {
	padding: 10px;
}

.footernav li a{
	padding-bottom: 0;
	padding-top:0;
}

.navbar {
	border-bottom:3px solid #65c178;
	background:#000;
	padding-bottom:10px;
}

.navbar-bottom {
	border-bottom:10px solid #65c178;
	background:#000;
	margin:0;
	padding: 10px;
}

#mainNav {
	margin: 0;
}

.navbar ul {
	padding: 0;
}

.lazy {
    display: none;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-sticky {
  padding-top:0;
  opacity: 0.8;
  padding-bottom:5px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

@media (max-width: 768px) {
	.collapse {
	  clear:both;
	  left:auto;
  }
}

.imageContainer {
  width: 160px;
  height: 160px;
  overflow: hidden;
  position: relative;
}
.imageCenterer {
  width: 160px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -80px;
}

.artistTopImg {
	display:block; 
	margin: auto;
	visibility:hidden;
}

.songPiecePopUp {
	display: none;
}