/*
 * Base structure
 */
body {
	background: url(../images/backgrounds/sos.png) repeat;
}

.main-content {
	background:#FFF;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	
}

#topAlbums, #topArtist {
	float: left;
}

.albumImg img, .albumItem a, .artistItem a{
	width: 100%;
}

.albumImg img {
	height: 100%;
}

.artistImg img {
	height: auto;
}

.albumImg, .artistImg {
	overflow: hidden;
}

#topLyrics {
	clear:both;
}

#popSongs {
	clear:both;
}

#searchForm {
	margin-left: 0;
	margin-right: 0;
	min-width: 200px;
	padding: 0 1% 0 1%;
}

#searchForm form, #search {
	width: 100%;
}

#hidden {
	position:absolute;width:0;margin:0;padding:0;height:0;
	float:right;
	border:none;
}

#searchForm #button {
	position: absolute;
	width: 50px;
}

@media (max-width: 768px) {
	.scrollBody {
		padding-top: 120px;
	  }
}
@media (min-width: 768px) {
	.scrollBody {
	  padding-top: 70px;
	}
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar {
	border-bottom:3px solid #65c178;
	background:#000;
	padding-top:20px;
	padding-bottom:10px;
}

#mainNav {
	margin: 0;
}

.navbar ul {
	padding: 0;
}

.lazy {
    display: none;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  padding-top:0;
  opacity: 0.8;
  padding-bottom:5px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

@media (max-width: 768px) {
	.collapse {
	  clear:both;
	  left:auto;
  }
}
